PORT=3000
NODE_ENV=development

# MongoDB Atlas (reemplazar con tu URI)
MONGODB_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/gestion-inventario?retryWrites=true&w=majority

# O MongoDB local
# MONGODB_URI=mongodb://localhost:27017/gestion-inventario

# Paginación
DEFAULT_PAGE_SIZE=10
MAX_PAGE_SIZE=100
