PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/gestion-inventario
JWT_SECRET=cambia-esto-en-produccion-generar-con-openssl
JWT_EXPIRES_IN=1h

# Throttler
THROTTLE_TTL=60
THROTTLE_LIMIT=10

# Docker / Producción
# MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/gestion-inventario
